<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasty Recipes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        
        nav {
            background-color: #000306;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        
        nav a:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
        
        h1 {
            text-align: center;
            margin-top: 30px;
        }
        
        h3 {
            text-align: center;
            margin-top: 20px;
        }
        
    </style>
</head>
<body>
    <nav>
        <a href="/recipes/new">Add New Recipe</a>
        <a href="/recipes">See All Recipes</a>
        <a href="/chefs/new">Add a Chef</a>
        <a href="/chefs">See Chefs</a>
        <a href="/signup">Signup</a>
        {{#if theUserObject}}
        <form style="display:inline" action="/logout" method="POST"><button>Logout</button></form>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>

    <div class="container">
        {{{body}}}
    </div>
</body>
</html>
