<h1>Add a Food Recipe to the Database</h1>

<form action="/recipes/create" method="POST">

<div>
    Recipe Name: 
    <input type="text" name="recipeName">
</div>

<div>
    Recipe Type: 
    <input type="text" name="recipeType">
</div>

<div>
    Image: 
    <input type="text" name="img">
</div>

<div>
    Chef: 
    <select name="chef">
        {{#each chefs}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
</div>

<div>
    Ingredients: 
    <input type="text" name="ingredients">
    <input type="text" name="ingredients">
    <!-- Add more input fields for each ingredient if needed -->
</div>

<div>
    Instructions: 
    <textarea name="instructions"></textarea>
</div>

<button>Save</button>

</form>
