<h1>Add a Chef to the DB</h1>

<form action="/chefs/create" method="POST">

<div>
    Name:
    <input type="text" name="chefName">
</div>

<div>
    Experience:
    <input type="text" name="chefExperience">
</div>

<div>
    Specialty:
    <input type="text" name="chefSpecialty">
</div>

<div>
    Image:
    <input type="text" name="chefImg">
</div>

<button>Submit</button>

</form>
