<h1>Add a Chef to the DB</h1>

<form action="/chefs/create" method="POST">

<div>
    Name:
    <input type="text" name="chefName">
</div>

<div>
    Hometown:
    <input type="text" name="chefHometown">
</div>

<div>
    Age:
    <input type="number" name="chefAge">
</div>

<div>
    Image:
    <input type="text" name="chefImg">
</div>

<button>Submit</button>

</form>
